<% content_for :javascripts do %>
  <%= javascript_include_tag "ckeditor/init" %>
<% end %>

<%= simple_nested_form_for visual_work, html: { multipart: true } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :ckeditor %>
  <%= f.input :tag_tokens, label: "Tags",
    input_html: { :'data-locale' => I18n.locale,
                  :'data-preload' => visual_work.tags.to_json } %>
  <fieldset>
    <legend>Imatges i vídeos</legend>
    <%= f.fields_for :images %>
    <p><%= f.link_to_add "Add an image", :images, class: "btn" %></p>
  </fieldset>
  <%= f.input :techniques %>
  <%= f.input :dimensions %>
  <%= f.input :realization_date, :start_year => Date.today.year - 35, discard_day: :true, discard_month: :true %>
  <%= f.input :published %>
  <%= f.button :submit %>
<% end %>
