<% page_title t('.title') %>

<table>
  <tr>
    <th><%= t 'title', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t 'description', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t 'techniques', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t 'dimensions', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t :realization_date, scope: 'simple_form.labels.defaults' %></th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% visual_works.each do |visual_w| %>
  <tr>
    <td><%= visual_w.title %></td>
    <td><%= raw visual_w.description %></td>
    <td><%= visual_w.techniques %></td>
    <td><%= visual_w.dimensions %></td>
    <td><%= l visual_w.realization_date, format: :long %></td>
    <td><%= visual_w.position %></td>
    <td><%= link_to 'Show', visual_w %></td>
    <td><%= link_to 'Edit', edit_visual_work_path(visual_w) %></td>
    <td><%= link_to 'Destroy', visual_w, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new_element', e: VisualWork.model_name.human.downcase), new_visual_work_path %>
