<%= page_title visual_work.title %>
<div>
  <% visual_work.tags.find_each do |tag| %>
    <%= tag.name %>
  <% end %>
</div>
<div><%= raw visual_work.description %></div>
<div><%= visual_work.techniques %></div>
<div><%= visual_work.dimensions %></div>
<div><%= visual_work.realization_date.year %></div>

<% if !visual_work.images.empty? %>
  <div id="galleria" style="height: 500px">
    <% visual_work.images.each do |image| %>
      <% if image.image? %>
        <%= link_to image_tag(image.image.thumb.to_s), image.image.to_s %>
        <% end %>
      <% if image.video? %>
        <%= link_to content_tag(:span, "Watch this video", class: "video"), image.video %>
      <% end %>
    <% end %>
  </div>
<% end %>
