<h2><%= visual_work.title %></h2>
<div><%= raw visual_work.description %></div>
<div><%= visual_work.techniques %></div>
<div><%= visual_work.dimensions %></div>
<div><%= visual_work.realization_date %></div>

<% if !visual_work.images.empty? %>
  <div id="galleria" style="height: 500px">
    <% visual_work.images.each do |image| %>
      <%= link_to image_tag(image.image.thumb.to_s), image.image.to_s %>
    <% end %>
  </div>
<% end %>

<ul id="images" class="sortable-list" data-resource="visual_works/<%= visual_work.id %>" data-action="sort_nested" data-sortable="images">
  <% visual_work.images.each do |image| %>
    <%= content_tag_for :li, image do %>
      <%= image_tag image.image.thumb.to_s, class: "handle" %>
      : <%= image.position %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_visual_work_path(visual_work) %> |
<%= link_to 'Back', visual_works_path %>