<%= page_title "Administrar enllaços" %>
<%= link_to "Crear nou enllaç", new_link_path, class: "btn" %>
<ul id="links" class="sortable-list" data-action="sort"
  data-resource="links">
  <% links.each do |l| %>
    <li id="link_<%= l.id %>">
      <span class="handle"></span>
      <%= link_to l.title, l.url, class: "item-title" %>
      (<%= l.url %>)<br />
      <div class="admin_controls">
        <%= link_to "Editar", edit_link_path(l), class: "btn" %>
        <%= link_to "Esborrar Enllaç", link_path(l),
           method: :delete, class: "btn_wrng" %>
      </div>
    </li>
  <% end %>
</ul>
