<%= page_title contact_page.title %>
<%= raw contact_page.body %>

<%= form_tag "/#{I18n.locale}/send_email" do %>
  <div class="control-group string required">
    <label for="from_email" class="string required control-label">
      <abbr title="obligatori">*</abbr>El teu correu-e:</label>
    <div class="controls">
      <%= email_field_tag 'from_email', nil, placeholder: 'email@example.com',
        required: true, size: 50, class: "string required" %>
    </div>
  </div>
  <div class="control-group string required">
    <label for="from_name" class="string required control-label">
      <abbr title="obligatori">*</abbr>El teu nom:</label>
    <div class="controls">
      <%= text_field_tag 'from_name', nil,
        required: true, size: 50, class: "string required" %>
    </div>
  </div>
  <div class="control-group string">
    <label for="subject" class="string control-label">
      Assumpte:
    <div class="controls">
      <%= text_field_tag 'subject', nil,
        required: true, size: 50, class: "string" %>
    </div>
  </div>
  <div class="control-group text required">
    <label for="from_name" class="text required control-label">
      <abbr title="obligatori">*</abbr>El teu nom:</label>
    <div class="controls">
      <%= text_area_tag 'text', nil,
        required: true, class: "string required" %>
    </div>
  </div>
  <%= button_tag 'Enviar', type: :submit, class: 'btn' %>
<% end %>
