<header id="main_header" role="banner">
  <ul id="select_lang">
    <%= lang_selector.html_safe %>
  </ul>
  <div id="brand">
    <%= front? ? image_tag('mz.svg', width: "100%", alt: "Mireia Zantop", :"data-svg_fallback" => image_path('mz.png')) : site_name %>
    <%=  %>
  </div>
  <nav id="main_menu" role="navigation">
    <% if front? %>
      <%= render 'menu_front' %>
    <% else %>
      <%= render 'menu' %>
    <% end %>
  </nav>
</header>
