<div class="fields">
  <%= form.simple_fields_for "image_attributes[]", image do |fields| %>
    <div class="sorting-controls">
      <a href="javascript:void(0)" data-behaviour="move-up">⬆️</a>
      <a href="javascript:void(0)" data-behaviour="move-down">⬇️</a>
    </div>

    <%= fields.input :image %>
    <%= fields.input :video %>
    <%= fields.input :credits,
                     as: :text,
                     input_html: { rows: 4, class: "rich-text-area" } %>
    <%= fields.input :position,
                     as: :hidden,
                     input_html: { data: { attribute: "position" } } %>
    <%= button_tag "Esborrar imatge",
                   type: :button,
                   class: "push-right btn btn-danger btn-smaller",
                   data: { behaviour: "remove-record" } %>
  <% end %>
</div>
