<span class="handle"></span>
<% if f.object.new_record? %>
  <%= f.input :image %>
  <%= f.input :video %>
<% else %>
  <%= f.input :image, as: :image_preview, input_html: { preview_version: :thumb } if f.object.image.present? %>
  <%= f.input :video if f.object.video.present? %>
<% end %>
<%= f.hidden_field :position, type: "hidden" %>
<%= f.link_to_remove "Remove this image", class: "btn_wrng" %>
