<div class="image-preview">
  <%= image_tag f.object.image.thumb if f.object.image.present? %>
</div>
<div class="sort-field">
  <a href="javascript:void(0)" class="up">Up</a> | <a href="javascript:void(0)" class="down">Down</a>
</div>
<%= f.input :image %>
<%= f.input :image_cache, as: :hidden %>
<%= f.input :video %>
<%= f.input :credits, as: :text, input_html: { rows: 4, class: "rich-text-area" } %>
<%= f.hidden_field :position, type: "hidden" %>
<%= f.link_to_remove "Remove this image", class: "btn_wrng" %>
