<% page_title t('.title') %>

<table>
  <tr>
    <th><%= t 'title', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t 'description', scope: 'simple_form.labels.defaults' %></th>
    <th><%= t :place, scope: 'simple_form.labels.defaults' %></th>
    <th><%= t :realization_date, scope: 'simple_form.labels.defaults' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% action_works.each do |act_w| %>
  <tr>
    <td><%= act_w.title %></td>
    <td><%= act_w.description %></td>
    <td><%= act_w.place %></td>
    <td><%= l act_w.realization_date, format: :long %></td>
    <td><%= link_to 'Show', act_w %></td>
    <td><%= link_to 'Edit', edit_action_work_path(act_w) %></td>
    <td><%= link_to 'Destroy', act_w, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('new_element', e: ActionWork.model_name.human.downcase), new_action_work_path %>
