<h2><%= action_work.title %></h2>
<div><%= raw action_work.description %></div>
<div><%= action_work.place %></div>
<div><%= action_work.realization_date %></div>

<%= link_to 'Edit', edit_action_work_path(action_work) %> |
<%= link_to 'Back', action_works_path %>