<%= page_title action_work.title %>
<div>
  <% action_work.tags.find_each do |tag| %>
    <%= tag.name %>
  <% end %>
</div>
<div><%= raw action_work.description %></div>
<div><%= action_work.place %></div>
<div><%= action_work.realization_date %></div>
<% if !action_work.images.empty? %>
  <div id="galleria" style="height: 500px">
    <% action_work.images.each do |image| %>
      <% if image.image? %>
        <%= link_to image_tag(image.image.thumb.to_s), image.image.to_s %>
        <% end %>
      <% if image.video? %>
        <%= link_to content_tag(:span, "Watch this video", class: "video"), image.video %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= link_to 'Edit', edit_action_work_path(action_work) %> |
<%= link_to 'Back', action_works_path %>
