<h2><%= action_work.title %></h2>
<div><%= raw action_work.description %></div>
<div><%= action_work.place %></div>
<div><%= action_work.realization_date %></div>

<div id="galleria" style="height: 500px">
  <% action_work.images.each do |image| %>
    <%= link_to image_tag(image.image.thumb.to_s), image.image.to_s %>
  <% end %>
</div>

<ul id="images" class="sortable-list" data-resource="action_works/<%= action_work.id %>" data-action="sort_nested" data-sortable="images">
<% action_work.images.each do |image| %>
  <%= content_tag_for :li, image do %>
    <%= image_tag image.image.thumb.to_s, class: "handle" %>
    : <%= image.position %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_action_work_path(action_work) %> |
<%= link_to 'Back', action_works_path %>