<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= yield :title %>ZANTOP</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "public", defer: true %>
    <%= javascript_include_tag "admin", defer: true if current_user? %>
  </head>

  <body class="<%= body_classes %>">
    <%= render 'session_bar' if current_user? %>

    <%= render 'header' %>

    <div class="container">
      <%= render 'flash_messages' %>
    </div>

    <div class="container">
      <%= yield :page_title %>
    </div>

    <div class="container main-container">
      <div id="main" role="main">
        <div class="content">
          <%= yield %>
        </div>
      </div>

      <%= render 'sidebar' if sidebar? %>
    </div>

    <%= render 'footer' %>
  </body>
</html>
