<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="UTF-8" />
  <title><%= yield :title %>ZANTOP</title>
  <%= stylesheet_link_tag "provisional", :media => "all" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <%= javascript_include_tag "provisional" %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body class="<%= body_classes %>" >
  <%= yield %>
</body>
</html>
